*.keys/*
!*.keys/*.pub
.DS_Store
*.env*
!.env.example

# App
wp-app/*.*
!wp-app/composer.*
wp-app/wp-admin
wp-app/wp-includes

# Content
wp-app/wp-content/languages
wp-app/wp-content/upgrade
wp-app/wp-content/uploads

# Plugins
wp-app/wp-content/plugins/*
!wp-app/wp-content/plugins/*.php

# Themes
wp-app/wp-content/themes/*
!wp-app/wp-content/themes/*.php

# Content
wp-content/plugins/*
!wp-content/plugins/*.php
wp-content/themes/*
!wp-content/themes/*.php
wp-content/languages/*
wp-content/upgrade/*

# Dependencies
node_modules/
vendor/
