*.env*
!.env.example

# App
wp-app/*
!wp-app/composer.*

# Content
wp-content/plugins/*
!wp-content/plugins/*.php
wp-content/themes/*
!wp-content/themes/*.php
wp-content/languages/*
wp-content/upgrade/*

# Dependencies
node_modules/
vendor/